<table border="1">
    <tr>
        <td style="text-transform: uppercase;">
            <strong>IP Address</strong>
        </td>
        <td>{{ipaddress}}</td>
    </tr>
    <tr>
        <td style="text-transform: uppercase;">
            <strong>Mask</strong>
        </td>
        <td>{{mask}}</td>
    </tr>
    <tr>
        <td style="text-transform: uppercase;">
            <strong>Gateway</strong>
        </td>
        <td>{{gateway}}</td>
    </tr>
    <tr>
        <td style="text-transform: uppercase;">
            <strong>Letter number</strong>
        </td>
        <td>{{reqnum}}</td>
    </tr>
    <tr>
        <td style="text-transform: uppercase;">
            <strong>Date open</strong>
        </td>
        <td>{{date}}</td>
    </tr>
    <tr>
        <td style="text-transform: uppercase;">
            <strong>Fullname</strong>
        </td>
        <td>{{fullname}}</td>
    </tr>
    <tr>
        <td style="text-transform: uppercase;">
            <strong>Phone</strong>
        </td>
        <td>{{phone}}</td>
    </tr>
    <tr>
        <td style="text-transform: uppercase;">
            <strong>Organization</strong>
        </td>
        <td>{{organization}}</td>
    </tr>
    <tr>
        <td style="text-transform: uppercase;">
            <strong>Subdivision</strong>
        </td>
        <td>{{subdivision}}</td>
    </tr>
    <tr>
        <td style="text-transform: uppercase;">
            <strong>Department</strong>
        </td>
        <td>{{department}}</td>
    </tr>
    <tr>
        <td style="text-transform: uppercase;">
            <strong>Position</strong>
        </td>
        <td>{{position}}</td>
    </tr>
    <tr>
        <td style="text-transform: uppercase;">
            <strong>Comment</strong>
        </td>
        <td>{{comment}}</td>
    </tr>
    <tr>
        <td colspan="2" style="text-align: center; text-transform: uppercase; width: 100%;">
            <strong>INTERNET</strong>
        </td>
    </tr>
    <tr>
        <td style="text-transform: uppercase;">
            <strong>Letter number</strong>
        </td>
        <td>{{internetReqnum}}</td>
    </tr>
    <tr>
        <td style="text-transform: uppercase;">
            <strong>Date open</strong>
        </td>
        <td>{{internetDateOpen}}</td>
    </tr>
    <tr>
        <td style="text-transform: uppercase;">
            <strong>Date close</strong>
        </td>
        <td>{{internetDateClose}}</td>
    </tr>
    <tr>
        <td style="text-transform: uppercase;">
            <strong>Comment</strong>
        </td>
        <td>{{internetComment}}</td>
    </tr>
</table>