<table border="1">
    <tr>
        <td><strong>IP АДРЕСА</strong></td>
        <td>{{ipaddress}}</td>
    </tr>
    <tr>
        <td><strong>МАСКА</strong></td>
        <td>{{mask}}</td>
    </tr>
    <tr>
        <td><strong>ШЛЮЗ</strong></td>
        <td>{{gateway}}</td>
    </tr>
    <tr>
        <td><strong>НОМЕР ЛИСТА</strong></td>
        <td>{{reqnum}}</td>
    </tr>
    <tr>
        <td><strong>ДАТА ВІДКРИТТЯ</strong></td>
        <td>{{date}}</td>
    </tr>
    <tr>
        <td><strong>ПОВНЕ ІМ'Я</strong></td>
        <td>{{fullname}}</td>
    </tr>
    <tr>
        <td><strong>НОМЕР ТЕЛЕФОНУ</strong></td>
        <td>{{phone}}</td>
    </tr>
    <tr>
        <td><strong>ОРГАНІЗАЦІЯ</strong></td>
        <td>{{organization}}</td>
    </tr>
    <tr>
        <td><strong>ПІДРОЗДІЛ</strong></td>
        <td>{{subdivision}}</td>
    </tr>
    <tr>
        <td><strong>ВІДДІЛ</strong></td>
        <td>{{department}}</td>
    </tr>
    <tr>
        <td><strong>ПОСАДА</strong></td>
        <td>{{position}}</td>
    </tr>
    <tr>
        <td><strong>КОМЕНТАР</strong></td>
        <td>{{comment}}</td>
    </tr>
    <tr>
        <td colspan="2" style="text-align: center;width: 100%;"><strong>ІНТЕРНЕТ</strong></td>
    </tr>
    <tr>
        <td><strong>НОМЕР ЛИСТА</strong></td>
        <td>{{internetReqnum}}</td>
    </tr>
    <tr>
        <td><strong>ДАТА ВІДКРИТТЯ</strong></td>
        <td>{{internetDateOpen}}</td>
    </tr>
    <tr>
        <td><strong>ДАТА ЗАКРИТТЯ</strong></td>
        <td>{{internetDateClose}}</td>
    </tr>
    <tr>
        <td><strong>КОМЕНТАР</strong></td>
        <td>{{internetComment}}</td>
    </tr>
</table>