<table border="1">
    <tr>
        <td style="text-transform: uppercase;">
            <strong>Login</strong>
        </td>
        <td>{{login}}</td>
    </tr>
    <tr>
        <td style="text-transform: uppercase;">
            <strong>Letter number</strong>
        </td>
        <td>{{reqnum}}</td>
    </tr>
    <tr>
        <td style="text-transform: uppercase;">
            <strong>Date open</strong>
        </td>
        <td>{{dateOpen}}</td>
    </tr>
    <tr>
        <td style="text-transform: uppercase;">
            <strong>Date close</strong>
        </td>
        <td>{{dateClose}}</td>
    </tr>
    <tr>
        <td style="text-transform: uppercase;">
            <strong>Fullname</strong>
        </td>
        <td>{{fullname}}</td>
    </tr>
    <tr>
        <td style="text-transform: uppercase;">
            <strong>Phone</strong>
        </td>
        <td>{{phone}}</td>
    </tr>
    <tr>
        <td style="text-transform: uppercase;">
            <strong>Organization</strong>
        </td>
        <td>{{organization}}</td>
    </tr>
    <tr>
        <td style="text-transform: uppercase;">
            <strong>Subdivision</strong>
        </td>
        <td>{{subdivision}}</td>
    </tr>
    <tr>
        <td style="text-transform: uppercase;">
            <strong>Department</strong>
        </td>
        <td>{{department}}</td>
    </tr>
    <tr>
        <td style="text-transform: uppercase;">
            <strong>Position</strong>
        </td>
        <td>{{position}}</td>
    </tr>
    <tr>
        <td style="text-transform: uppercase;">
            <strong>Comment</strong>
        </td>
        <td>{{comment}}</td>
    </tr>
</table>